@model IndexModel


<textarea class="form-control" name="subject" placeholder="Subject" rows="1" maxlength="250" required></textarea><br>

@*<textarea asp-for="message" class="form-control" name="message" placeholder="Message" rows="5" maxlength="500"></textarea><br>
<span asp-validation-for="message" class="text-danger"></span>*@
