@page
@model ConfirmModel
@{
    ViewData["Title"] = "Home page";

}
<link href="~/css/site_contact.css" rel="stylesheet" />
<style>
    .form-group {
        color: #fff
    }

    label {
        color: #eb3838
    }

    button {
        color: #000
    }
</style>

<div id="contact" class="container-fluid">
    <div class="row">
      
        <div class="col-sm-7 h-form">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <h2>@Model.Message</h2>
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button onclick="location.href='/'">Send Another Greeting!</button>
                  
                </div>
            </div>
          

        </div>

    </div>
</div>