

body {
    background: url(/images/giphy.gif) no-repeat #000;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.form-control {
    text-transform: capitalize;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.h-confirm {
    color: #fff;
    text-align: center;
    margin: 20px 0;
}
.h-confirm-error {
    color: #ff0000;
    margin: 20px 0;
}
.h-form {
    float: right;
    margin: 50px 0 10px 10px;
}